.slide-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 65px;
}

.caption {
    font-size: large;
}
.reveal a {
    line-height: 1.5em;
}

.reveal p {
    font-weight: 300;
    margin-top: 1.25em;
    text-align: left;
    font-size: xx-large;
}

.reveal pre {
    width: 90%;
    background: rgba(255, 255, 255, 0.4);
}

.reveal ul {
    display: block;
    font-size: xx-large;

}
.reveal ol {
    display: block;
    font-size: xx-large;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
    text-transform: none;
    text-align: left;
    font-family: "Roboto";
}

.reveal h1 {
    font-weight: 450;
    font-size: 2em;
}

.reveal h2 {
    font-weight: 350;
    font-size: 1.5em;
}

.reveal h3 {
    color: #107895;
    font-weight: 350;
    font-size: 1.25em;
}

.reveal h4 {
    color: #9a2515;
    font-weight: 350;
    margin-top: 1.25em;
    font-size: 1.125em;
}

